.navbar {
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
}

.navbar a {
  color: #606060;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: Source Sans Pro;
}

ul {
  list-style-type: none;
  display: inline;
}

li {
  display: inline;
  border-style: solid;
}

#searchfield {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

#search {
  width: 316px;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 60;
}

#main_product_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#description {
  width: 388px;
  height: 78px;
}

.shopping-cart {
  background-color: gray;
}
.about.htm {
  background-color: bisque;
}

#header-img {
  /* width: 1080px; */
  width: 1490px;
  height: 543px;
  margin: auto;
  /* background-color: #000000; */

  background-repeat: no-repeat;
  background-size: cover;
}

#navbar-img {
  width: 68px;
  height: 42px;
  margin: auto;
  background-color: #7a7a7a;
  display: inline;
}

.product_related_imgs {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

#header-img {
  /* width: 1080px; */
  width: 1490px;
  height: 543px;
  margin: auto;
  /* background-color: #000000;  */
  background-repeat: no-repeat;
  background-size: cover;
}

.social {
  display: flex;
  margin: auto;
}
#insta {
  padding: 20px;
  width: 30px;
}

#fb {
  padding: 20px;
  width: 30px;
}

.products.html {
  width: 880px;
  height: 1300px;
  color: black;
  background-color: bisque;
  font-family: helvetica;
}
#twtr {
  padding: 20px;
  width: 30px;
}
.info-about {
  width: 888px;
  height: 222px;
}

.info-about h1 {
  width: 181px;
  height: 36px;

  font-size: 26;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.info-about p {
  width: 888px;
  height: 108px;
  font-size: 14;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.info-return {
  width: 888px;
  height: 222px;
}

.info-return h1 {
  width: 385px;
  height: 36px;
  font-size: 26;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.info-return p {
  width: 888px;
  height: 108px;
  font-size: 14;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.info-shipping {
  width: 888px;
  height: 222px;
}
.info-shipping h1 {
  width: 132px;
  height: 36px;
  font-size: 26;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.info-shipping p {
  width: 888px;
  height: 108px;
  margin: auto;
  font-size: 14;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Cart.html */
.cart-navbar {
  display: flex;
  height: 50px;
  background-color: lightgray;
 
}


.nav-titles{
  font-size: 16px;
  font:Source Sans Pro;
  color:#606060;
  font-weight: 300;
}
.nav-list{
  width: 233px;
  height:26px;
}

.search-box{
  
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
}

#price-title {
  float: right;
  text-align: center;
}

.container {
  display: block;
  /* background-color: green; */
  box-sizing: border-box;
  width: 964px;
  height: 175px;
}

.box-content {
  border-color: black;
}

.qty-input {
  width: 90px;
  height: 36px;
}

.prod-title {
  font-family: Lato;
  font-size: 24px;
}

.product-tally{
  float:right;
}

#total{
  color:#606060;
  font-family:Source Sans Pro;
  font-size:26px;
  width:74px;
  height:33px; 
}

#checkout-btn{
  color:#232323;
  background-color: #EBEBEB;
  font-size:24px;
  width:170px;
  height: 45px;
}
